{% extends "pages/bases.html" %}
<!-- body {background-image: url('static/images/Picture4-scaled.jpg');} -->
{% block title %}Contact{% endblock  %}
{% block content  %}
<body>
    <div style="height: 93vh">
    <!-- <div style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;"> -->
        <br> </br>
        <div style="right:10px;color: #070000;">
            <h4> Đây là phiên bản thử nghiệm</h4>
            <p>Tống Hữu Thế</p>
            <p>Mobile: 0944 106 171</p>
            <p>Contact: Thành phố Bắc Kạn, tỉnh Bắc Kạn</p>
        </div>
        <a class="text-center" style="right:10px;" href="/">Quay trở lại trang chủ</a>

    </div>
</body>
{% endblock  %}


