{% extends "pages/bases.html" %}
body {background-image: url('static/images/Picture4-scaled.jpg');}
{% block title %}Contact{% endblock  %}
{% block content  %}
<body>
    <div class="col-lg-10">
        <div class="content-wrapper">
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color: #f7f7f7; text-align: left;">
                        <th style="padding: 10px; width: 20%;">Phân loại</th>
                        <th style="padding: 10px; width: 20%;">Số vụ</th>
                        <th style="padding: 10px; width: 20%;">Chờ duyệt</th>
                        <th style="padding: 10px; width: 20%;">Đã duyệt</th>
                        <th style="padding: 10px; width: 20%;">Giải quyết</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-cell">
                            <a href="{% url 'traffic_accidents_list' %}" class="btn btn-primary">TNGT</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'traffic_accidents_list' %}" class="btn btn-info">{{ traffic_accidents_count }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'traffic_accidents_status_list' 'pending' %}" class="btn btn-warning">{{ traffic_accidents_pending }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'traffic_accidents_status_list' 'approved' %}" class="btn btn-success">{{ traffic_accidents_approved }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'traffic_accidents_status_list' 'rescued' %}" class="btn btn-danger">{{ traffic_accidents_rescued }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-cell">
                            <a href="{% url 'drowning_incidents_list' %}" class="btn btn-primary">Đuối nước</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'drowning_incidents_list' %}" class="btn btn-info">{{ drowning_incidents_count }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'drowning_incidents_status_list' 'pending' %}" class="btn btn-warning">{{ drowning_incidents_pending }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'drowning_incidents_status_list' 'approved' %}" class="btn btn-success">{{ drowning_incidents_approved }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'drowning_incidents_status_list' 'rescued' %}" class="btn btn-danger">{{ drowning_incidents_rescued }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-cell">
                            <a href="{% url 'fire_incidents_list' %}" class="btn btn-primary">Vụ cháy</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'fire_incidents_list' %}" class="btn btn-info">{{ fire_incidents_count }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'fire_incidents_status_list' 'pending' %}" class="btn btn-warning">{{ fire_incidents_pending }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'fire_incidents_status_list' 'approved' %}" class="btn btn-success">{{ fire_incidents_approved }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'fire_incidents_status_list' 'rescued' %}" class="btn btn-danger">{{ fire_incidents_rescued }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-cell">
                            <a href="{% url 'natural_disasters_list' %}" class="btn btn-primary">Thiên tai</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'natural_disasters_list' %}" class="btn btn-info">{{ natural_disasters_count }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'natural_disasters_status_list' 'pending' %}" class="btn btn-warning">{{ natural_disasters_pending }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'natural_disasters_status_list' 'approved' %}" class="btn btn-success">{{ natural_disasters_approved }}</a>
                        </td>
                        <td class="table-cell">
                            <a href="{% url 'natural_disasters_status_list' 'rescued' %}" class="btn btn-danger">{{ natural_disasters_rescued }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

{% endblock  %}