{% extends "pages/bases.html" %} body {background-image:
url('static/images/Picture4-scaled.jpg');} {% block title %}Contact{% endblock%}
{% block content %}
<style>
.spacer {
  height: 30%;
</style>
<body>
  <div class="spacer"></div>
  <div class="col-lg-10" style="max-width: 100%; bottom: 10px;margin-top: 20%;">
    <div class="content-wrapper" >
      <table class="table table-bordered", style="padding: 1px;">
        <thead>
          <tr style="background-color: #f7f7f7; text-align: center">
            <th class="responsive-header" style="padding: 10px; width: 20%">Loại</th>
            <th class="responsive-header" style="padding: 10px; width: 20%">Số vụ</th>
            <th class="responsive-header" style="padding: 10px; width: 20%">Chờ duyệt</th>
            <th class="responsive-header" style="padding: 10px; width: 20%">Đã duyệt</th>
            {% comment %}
            <th style="padding: 10px; width: 20%">Giải quyết</th>
            {% endcomment %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-cell">
              <a
                href="{% url 'incidents_list' 'drowning' %}"
                class="btn btn-primary"
                >Đuối nước</a
              >
            </td>
            <td class="table-cell ", style="text-align: center">
              <a
                href="{% url 'incidents_list' 'drowning' %}"
                class="btn btn-info"
                >{{ drowning_incidents_count }}</a
              >
            </td>
            <td class="table-cell ", style="text-align: center">
              <a
                href="{% url 'incidents_status_list' 'drowning' 'pending' %}"
                class="btn btn-warning"
                >{{ drowning_incidents_pending }}</a
              >
            </td>
            <td class="table-cell ", style="text-align: center">
              <a
                href="{% url 'incidents_status_list' 'drowning' 'approved' %}"
                class="btn btn-success"
                >{{ drowning_incidents_approved }}</a
              >
            </td>
            {% comment %}
            <td class="table-cell">
              <a
                href="{% url 'incidents_status_list' 'drowning' 'rescued' %}"
                class="btn btn-danger"
                >{{ drowning_incidents_rescued }}</a
              >
            </td>
            {% endcomment %}
          </tr>
          <tr>
            <td class="responsive-cell">
              <a href="{% url 'incidents_list' 'natural_disaster' %}" class="btn btn-primary">Thiên tai</a>
            </td>
            <td class="responsive-cell" style="text-align: center">
              <a href="{% url 'incidents_list' 'natural_disaster' %}" class="btn btn-info">{{ natural_disasters_count }}</a>
            </td>
            <td class="responsive-cell" style="text-align: center">
              <a href="{% url 'incidents_status_list' 'natural_disaster' 'pending' %}" class="btn btn-warning">{{ natural_disasters_pending }}</a>
            </td>
            <td class="responsive-cell" style="text-align: center">
              <a href="{% url 'incidents_status_list' 'natural_disaster' 'approved' %}" class="btn btn-success">{{ natural_disasters_approved }}</a>
            </td>
          </tr>
          <tr>
            <td class="responsive-cell">
              <a href="{% url 'incidents_list' 'traffic_accident' %}" class="btn btn-primary">TNGT</a>
            </td>
            <td class="responsive-cell" style="text-align: center">
              <a href="{% url 'incidents_list' 'traffic_accident' %}" class="btn btn-info">{{ traffic_accidents_count }}</a>
            </td>
            <td class="responsive-cell" style="text-align: center">
              <a href="{% url 'incidents_status_list' 'traffic_accident' 'pending' %}" class="btn btn-warning">{{ traffic_accidents_pending }}</a>
            </td>
            <td class="responsive-cell" style="text-align: center">
              <a href="{% url 'incidents_status_list' 'traffic_accident' 'approved' %}" class="btn btn-success">{{ traffic_accidents_approved }}</a>
            </td>
          </tr>
          <tr>
            <td class="responsive-cell">
              <a href="{% url 'incidents_list' 'fire' %}" class="btn btn-primary">Cháy</a>
            </td>
            <td class="responsive-cell" style="text-align: center">
              <a href="{% url 'incidents_list' 'fire' %}" class="btn btn-info">{{ fire_incidents_count }}</a>
            </td>
            <td class="responsive-cell" style="text-align: center">
              <a href="{% url 'incidents_status_list' 'fire' 'pending' %}" class="btn btn-warning">{{ fire_incidents_pending }}</a>
            </td>
            <td class="responsive-cell" style="text-align: center">
              <a href="{% url 'incidents_status_list' 'fire' 'approved' %}" class="btn btn-success">{{ fire_incidents_approved }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock %}
