{% extends "pages/bases.html" %}
{% load static %}
{% load permissions %}
{% block title %}Danh sách{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <title>Danh sách 
        {% if incident_type == 'traffic_accident' %}tai nạn giao thông{% elif incident_type == 'drowning' %}đuối nước{% elif incident_type == 'fire' %}vụ cháy{% elif incident_type == 'natural_disaster' %}thiên tai{% endif %}{% if status %} - {{ status|title }}{% endif %}</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
            const incidentId = urlParams.get('incident_id');
            if (incidentId) {
                // Làm nổi bật hoặc cuộn đến vụ tương ứng
                const incidentElement = document.getElementById(`incident-${incidentId}`);
                if (incidentElement) {
                    incidentElement.scrollIntoView();
                    incidentElement.style.backgroundColor = '#ffff99'; // Làm nổi bật vụ việc
                }
            }
            var mapLinks = document.querySelectorAll('a.google-map-link');
            mapLinks.forEach(function(link) {
                var href = link.getAttribute('href');
                // Thay thế dấu phẩy bằng dấu chấm trong URL
                href = href.replace(/,/g, '.');
                link.setAttribute('href', href);
            });
        });

        function approveIncident(incidentId) {
            fetch(`/approve_incident/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({ incident_id: incidentId }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById(`incident-${incidentId}`).querySelector('.status').textContent = 'Đã duyệt';
                    document.getElementById(`approve-button-${incidentId}`).remove();
                } else {
                    alert('Có lỗi xảy ra. Vui lòng thử lại.');
                }
            });
        }
    </script>
</head>
<body onload="initMap()">
        <!-- Nút BACK và KHAI BÁO -->
    <nav class="nav-back">
        <a href="/statistic/" class="btn btn-primary">
          Thống kê
        </a>
    </nav>

    <div class="container mt-4">
        <h1 class="text-center mb-4">Danh sách thông tin<br>
            {% if incident_type == 'traffic_accident' %}tai nạn giao thông
            {% elif incident_type == 'drowning' %}đuối nước
            {% elif incident_type == 'fire' %}vụ cháy
            {% elif incident_type == 'natural_disaster' %}thiên tai
            {% endif %}

            {% if status == 'pending' %}
            (chờ duyệt)
            {% elif status == 'approved' %}
            (đã duyệt)
            {% elif status == 'rescued' %}
            (đã giải quyết)
            {% endif %}</h1>
        <!-- Hiển thị danh sách sự kiện -->
        {% for incident in incidents %}
        <div id="incident-{{ incident.id }}" class="card mb-3">
            <div class="card-header">
                <!-- Tính số thứ tự liên tục -->
                <strong>Vụ thứ {{ forloop.counter|add:start_index }}</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <p><strong>Tên:</strong> {{ incident.name }}</p>
                        <p><strong>Điện thoại:</strong> {{ incident.mobile }}</p>
                        <p><strong>Mô tả:</strong> {{ incident.description }}</p>
                        <p><strong>Trạng thái:</strong> <span class="status">{{ incident.get_status_display }}</span></p>
                        <p><strong>Thời gian khai báo:</strong> {{ incident.created_at|date:"d/m/Y H:i:s" }}</p>
                        <p><strong>Địa điểm GPS:</strong> {{ incident.address }}</p>
                        <p><strong>Xem trên</strong> <a href="https://www.google.com/maps/search/?api=1&query={{ incident.latitude|floatformat:6 }} {{ incident.longitude|floatformat:6 }}" target="_blank" class="google-map-link">Google map</a></p>
                        {% if incident.status == 'pending' and user|has_perm:'home.can_approve_incident' %}
                        <button id="approve-button-{{ incident.id }}" class="btn btn-success" onclick="approveIncident({{ incident.id }})">Duyệt</button>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if incident.image %}
                        <img src="{{ incident.image.url }}" alt="{{ incident.name }}" class="img-fluid rounded">
                        {% else %}
                        <p>Không có hình ảnh.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Không có sự kiện nào.</p>
        {% endfor %}

        <!-- Phân trang -->
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination">
                    {% if has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ previous_page_number }}">&laquo;</a>
                    </li>
                    {% endif %}

                    {% for num in page_range %}
                        {% if num == page_obj.number %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ next_page_number }}">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
{% endblock %}