{% extends "pages/bases.html" %}
{% load static %}
{% load permissions %}
{% block title %}Chi tiết sự kiện{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
    <div class="container mt-4">
        <title>Chi tiết thông báo</title>
        <div class="card mb-3">
            <nav class="nav-back">
                <a href="/" class="btn btn-primary">
                    Trang chủ
                </a>
            </nav>        
            <div class="card-body">
                <h1>Chi tiết thông báo</h1>
                <div class="row">
                    <div class="col-md-8">
                        <p><strong>Tên:</strong> {{ incident.name }}</p>
                        <p><strong>Điện thoại:</strong> {{ incident.mobile }}</p>
                        <p><strong>Mô tả:</strong> {{ incident.description }}</p>
                        <p><strong>Trạng thái:</strong> {{ incident.get_status_display }}</p>
                        <p><strong>Loại sự cố:</strong> {{ incident.get_incident_type_display }}</p>
                        <p><strong>Thời gian khai báo:</strong> {{ incident.created_at|date:"d/m/Y H:i:s" }}</p>
                        <p><strong>Địa điểm GPS:</strong> {{ incident.address }}</p>
                        <p><strong>Xem trên</strong> <a href="https://www.google.com/maps/search/?api=1&query={{ incident.latitude|floatformat:6 }} {{ incident.longitude|floatformat:6 }}" target="_blank" class="google-map-link">Google map</a></p>
                        {% if incident.status == 'pending' and user|has_perm:'map.can_approve_incident' %}
                        <button id="approve-button-{{ incident.id }}" class="btn btn-success" onclick="approveIncident({{ incident.id }}); window.location.href='/'">Xác nhận và duyệt lên bản đồ</button>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if incident.image %}
                        <img src="{{ incident.image.url }}" alt="{{ incident.name }}" class="img-fluid rounded">
                        {% else %}
                        <p>Không có hình ảnh.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
            const incidentId = urlParams.get('incident_id');
            if (incidentId) {
                // Làm nổi bật hoặc cuộn đến vụ tương ứng
                const incidentElement = document.getElementById(`incident-${incidentId}`);
                if (incidentElement) {
                    incidentElement.scrollIntoView();
                    incidentElement.style.backgroundColor = '#ffff99'; // Làm nổi bật vụ việc
                }
            }
            var mapLinks = document.querySelectorAll('a.google-map-link');
            mapLinks.forEach(function(link) {
                var href = link.getAttribute('href');
                // Thay thế dấu phẩy bằng dấu chấm trong URL
                href = href.replace(/,/g, '.');
                link.setAttribute('href', href);
            });
        });

        function approveIncident(incidentId) {
            fetch(`/approve_incident/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({ incident_id: incidentId }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById(`incident-${incidentId}`).querySelector('.status').textContent = 'Đã duyệt';
                    document.getElementById(`approve-button-${incidentId}`).remove();
                } else {
                    alert('Có lỗi xảy ra. Vui lòng thử lại.');
                }
            });
        }
    </script>

</body>
</html>
{% endblock %}