/* Cấu hình chung cho trang */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  body {
    background-image: url('/static/images/Picture4-scaled.jpg'); /* Hình nền */
    background-size: cover; /* Kích thước hình nền */
    background-position: center; /* Vị trí hình nền */
    background-color: black; /* Màu nền */
    color: #66d9ff; /* Màu chữ */
    font-family: Arial, sans-serif; /* Font chữ */
  }
  
  /* Wrapper cho nội dung chính */
  .content-wrapper {
    flex: 1;
    display: flex;
    margin-top: 20px; /* Thêm khoảng cách phía trên */
  }
  
  /* Sidebar */
  .sidebar {
    flex: 0 0 200px;
    background-color: #f8f9fa; /* Màu nền của sidebar */
  }
  
  /* Nội dung chính */
  .main-content {
    flex: 1;
    padding: 20px; /* Khoảng đệm bên trong */
  }
  
  /* Footer */
  footer {
    margin-top: auto;
  }
  
  /* Thêm khoảng cách phía trên div */
  .spacer {
    height: 30%; /* Chiều cao của khoảng cách */
  }
  
  .margin-top {
    margin-top: 20px; /* Bạn có thể điều chỉnh giá trị này theo nhu cầu */
  }
  
  /* Bảng */
  .table {
    width: 50%;
    left: 300px;
    border-collapse: collapse; /* Gộp các đường viền của bảng */
    margin-top: 200px; /* Bạn có thể điều chỉnh giá trị này theo nhu cầu */
  }
  
  .table th, .table td {
    padding: 10px; /* Khoảng đệm bên trong ô */
    border-bottom: 1px solid #ddd; /* Đường viền dưới của ô */
  }
  
  .table thead tr {
    background-color: #f7f7f7; /* Màu nền của hàng tiêu đề */
    text-align: left; /* Căn trái văn bản */
  }
  
  /* Cấu hình cho tiêu đề bảng */
  .responsive-header {
    font-size: 16px; /* Cỡ chữ mặc định */
  }
  
  @media (max-width: 768px) {
    .responsive-header {
      font-size: 11px; /* Cỡ chữ nhỏ hơn cho điện thoại */
    }
  }
  
  /* Cấu hình cho ô bảng */
  .responsive-cell {
    font-size: 16px; /* Cỡ chữ mặc định */
  }
  
  @media (max-width: 768px) {
    .responsive-cell {
      font-size: 11px; /* Cỡ chữ nhỏ hơn cho điện thoại */
    }
  }
  
  /* Tùy chỉnh cho cột */
  .custom-col {
    max-width: 100%;
    bottom: 10px;
    margin-top: 20%; /* Khoảng cách phía trên */
  }
  
  /* Tùy chỉnh cho bảng */
  .custom-table {
    padding: 1px; /* Khoảng đệm bên trong bảng */
  }
  
  /* Tùy chỉnh cho tiêu đề bảng */
  .custom-header {
    background-color: #f7f7f7; /* Màu nền của tiêu đề bảng */
    text-align: center; /* Căn giữa văn bản */
  }
  
  /* Căn giữa văn bản */
  .text-center {
    text-align: center; /* Căn giữa văn bản */
  }