{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bản đồ</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    

    <!-- File JavaScript ngoài -->
    <script src="{% static 'js/map.js' %}"></script>
        <!-- Bootstrap JS và các thư viện phụ thuộc -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

    <!-- Google Maps API -->
    <script loading="async" defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB70gmFRPkKiVCMMyi1gwz19_GtHhywyE0&libraries=places"></script>
</head>
<body onload="initMap()">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Bản đồ</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Trang chủ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-map">
        <div class="map-container">
            <div id="map"></div>
            <button class="btn btn-primary" type="button" onclick="getCurrentLocation()">Vị trí hiện tại</button>
            <input id="searchInput" type="text" class="form-control mt-2" placeholder="Hoặc tìm kiếm vị trí..." />
            <button class="toggle-button" id="toggle-form-btn" style="top: 2px !important">KHAI BÁO</button>
        </div>
        <div class="form-container" id="form-container">
            <form method="post" action="{% url 'save_location' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.incident_type.label_tag }} {{ form.incident_type }}
                </div>
                <div class="form-group">
                    {{ form.name.label_tag }} {{ form.name }}
                </div>
                <div class="form-group">
                    {{ form.mobile.label_tag }} {{ form.mobile }}
                </div>
                {{ form.latitude }}
                {{ form.longitude }}
                <div class="form-group">
                    {{ form.description.label_tag }} {{ form.description }}
                </div>
                <div class="form-group">
                    {{ form.image.label_tag }} {{ form.image }}
                </div>
                <button type="submit" class="btn btn-primary">LƯU</button>
                <button type="button" class="btn btn-secondary" onclick="document.getElementById('form-container').style.display='none'; document.querySelector('.map-container').style.width='100%'">HUỶ</button>
            </form>
        </div>
    </div>
</body>
</html>