<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thành công</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success">
           <h3>- Thông tin đã được gửi đến quản trị viên để xác thực;</h3>
           <h3>- Có thể liên hệ số 0944.xxx.xxx để sớm phê duyệt lên hệ thống.</h3>
        </div>
        <a href="/" class="btn btn-primary">Trang chủ</a>
        <a href="/map/" class="btn btn-secondary">Bản đồ</a>
    </div>
</body>
</html>